<launch>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
      <param name="port" value="/dev/ttyUSB0"/>
      <param name="baud" value="250000"/>
    </node>


    <!-- IMU -->
    <include file="$(find practice)/launch/imu.launch" />


    <node pkg="practice" type="publisher.py" name="publisher" output="screen">
    </node>


    <!-- Run rplidar -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    

</launch>

    
