<launch>

    <!-- Run rosserial baud 57600, arduino baud 38400-->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
      <param name="port" value="/dev/ttyUSB0"/>
      <param name="baud" value="57600"/>
    </node>

    <!-- Run rplidar baud 115200-->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <!-- publish /cmd_vel-->
    <node pkg="practice" type="AGV_teleop_key.py" name="AGV_teleop_key" output="screen" />


    <!-- subscribe /encoder_data , publish /odom -->    
    <node pkg="practice" type="odom_publisher.py" name="odom_publisher" output="screen" />


    <!-- publish imu baud 19200-->    
    <include file="$(find practice)/launch/imu.launch" />


    <!-- EKF node -->    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find practice)/config/ekf_localization.yaml"/>

    </node>


    <!-- publish tf 'odometry/filtered <-> base_footprint' -->    
    <!--<node pkg="practice" type="tf_publisher.py" name="tf_publisher" output="screen" /> -->


    <!-- publish /tf , URDF -->    
    <param name="robot_description" textfile="$(find robot_description)/urdf/AGV.urdf" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />





</launch>

    
